<div class="jumbotron text-center" style="margin-bottom:0;min-height: 100%;background: url('https://images.unsplash.com/photo-1511029420449-2ddffc80df96?ixlib=rb-1.2.1&w=1000&q=80') no-repeat center center;
      background-size: cover;
      padding-top: 20%;
      padding-bottom: 26%;">
  <div class="row" style="bottom: 0;right: 0;position: absolute">
    <div class="col-md-8">.col</div>
    <div class="col-md-4">
      <blockquote class="blockquote text-right"
          style="color: white;padding: 35px">
        <p>CodeStallion is a web and mobile development company that seeks to provide scalable solutions to its clients.
          What this means is that the solutions we offer not only meet the requirements set out by clients in terms of features and benefits,
          but they are also able to take on large volumes of end users without deteriorating the user experience.
          We do this by making use of current technologies and heuristics that are unique to the client environment.</p>
        <footer>
                  <button type="button" class="btn btn-outline-secondary">Read More</button>
        </footer>
      </blockquote></div>
  </div>
</div>
