<app-full-screen-home></app-full-screen-home>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>This Is Who We Are</h1>
      <p>
        CodeStallion is a web and mobile development
        company that seeks to provide scalable solutions to its clients.
      </p>
      <p>
        On each project we are involved in, we do not work exclusively on our own.
        We are firm believers in skills transfer and as a result, we have an intake
        of unemployed computer science graduates
        from the city our clients are based in to develop and hone their skills.
      </p>
      <p>
        We employ solutions that evolve with market requirements.
        We are aware of the changing nature of the IT environement and as a result,
        we are constantly testing current technologies to tailor our products to the business case in question.
      </p>
    </div>
    <div class="col-sm-6">
      <h1>Why We Do What We Do</h1>
      <p>
        Starting a company(2018 January) was a result of our obsession with extracting value
        from the latest technologies in our personal capacities,
        we seek to bring the same value to end users who are unable to source the same value with
        existing technologies.
      </p>
      <p>
        This has resulted in the misuse of each piece of technology by students and learners alike,
        which consequently costs the sector exorbitant amounts of money for maintanance
        on an annual basis.
      </p>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Contact Us!</h1>
    </div>
    <div class="col-sm-6">
      <h1>This Is What We've Done</h1>
    </div>
  </div>
</div>


